__pycache__/
*.pyc
.akt_media_tools/
.akt_tools/
Social Media Screenshots/
Social Media Videos/
Social Media SnapShottter URL Picker.txt
Completed Social Media SnapShottter URL.txt
Done Social Media SnapShottter URL.txt
Error Social Media SnapShottter URL.txt
Video URL Picker.txt
Completed Video Downloads.txt
Error Video Downloads.txt
*.mp4
*.mkv
*.webm
*.mov
